include ../partials/mixins/spacer.jade

tr
  td(style="width: 100%" align="left")
    table(border="0" cellpadding="0" width="100%" bgcolor="transparent" cellspacing="0" style="margin:0;padding:0" )
      tr
        td.copyrigth-text(width="100%" align="center" style="width:100%;height:100%; text-align: center; font-family: Arial, sans-serif; font-size: 13px; color: #999999;")
          span.copyrigth-text(style="font-family: Arial, sans-serif; font-size: 13px;color: #999999;") © Royal Start. All rights reserved.
      tr
        +spacer(40)