include ../partials/mixins/spacer
tr
  td(style="width: 100%")
    table(border="0" cellpadding="0" width="100%" cellspacing="0" bgcolor="#f6f8f9" style="margin:0;padding:0" )
      tr
        td
          table.mobile-view_mod(border="0" cellpadding="0" width="100%" cellspacing="0" bgcolor="#f6f8f9" style="margin:0; padding:0;" )
            tr
              +spacer(10)
              td(width="100%" align="center" style="width: 100%;")
                table(border="0" cellpadding="0" width="100%" cellspacing="0" bgcolor="#f6f8f9" style="margin:0; padding:0" )
                  tr
                    +spacer(23)
                  tr
                    td(align="center")
                      img(src="http://start-life.rademade.com/images/mail/mail_logo.png" width="58" height="20" style="width:118px;height:25px; vertical-align: top;" alt="Royal Start")
                  tr
                    +spacer(20)
              +spacer(10)
      tr
        td(align="center" style="border-bottom: 1px solid #e4e7e8")
