head
  meta(charset="UTF8")
  style.
    @import url(https://fonts.googleapis.com/css?family=Roboto);
    @media only screen and (max-width: 450px) {
     .mobile-view_mod {
       width: 100% !important;
     }
     .mobile-view-padding_mod{
       padding: 10px 0;
     }
     .mobile-view_mod.item tbody {
       display: block;
       width: 100% !important;
     }
     .mobile-padding {
       padding: 10px;
     }
     .mobile-hide_mod {
       display: none;
     }
     .main-table {
       width: 100% !important;
     }
     .mobile-view-img_mod {
       max-width: 100% !important;
       width: 100% !important;
       height: auto !important;
     }
      .copyrigth-text {
        font-family: Arial, sans-serif;
        font-size: 13px;
        color: #999999;
      }
      .title-text {
        font-family: Arial, sans-serif;
        font-size: 24px;
        color: #11beec;
      }
      .msg-text {
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #666666;
        line-height: 21px;
      }
      .btn-text {
        color: #ffffff;
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
      }
    }
