//include layout
extends layout/main


block content

  tr
    td(width="100%" style="width:100%;height:100%;")
      table(border="0"
        cellpadding="0"
        cellspacing="0"
        width = "100%"
        bgcolor="#f6f8f9"
        style="margin:0; " +
        "padding:0;"
      )

        +mail-main-img('http://start-life.rademade.com/images/mail/mail_password.png','47','64','Welcome to Royal Start','55','30')

        +mail-main-title('Hello!', '15')

        +mail-main-text(37, 'If you forgot your password, press the button "Get password" . <br> After that, enter your new password at this website. <br> If you didn’t ask to change your password, just ignore this email.')


        +mail-main-btn('Get password', '58')