html(style="margin: 0; padding: 0;" )
  body(style="margin: 0; padding: 0;")
    table(border="0" cellpadding="0" height="100%" cellspacing="0" bgcolor="#ffffff" align="center"
    )
      tr
        td(align="center")
          table.main-table(width="600"  border="0" cellpadding="0" cellspacing="0" bgcolor="#f6f8f9"
            style="margin: 0 auto; " +
            "padding: 0; " +
            "width: 600px; " +
            "max-width: 600px; " +
            "font-family: Verdana, sans-serif;"
          )
            tr
              td(width="100%" align="center" style="width:100%;height:100%; text-align: center; font-size: 24px;color: #11beec;")
                span.title-text(style="font-size: 24px;color: #11beec;") dfsdfdsfdsfsdfsdfsdfsdfsdffd
